h1 {
  color:MediumSeaGreen;
  font-family: verdana;
  font-size: 300%;
}
h5 {
  color: MediumSeaGreen;
  font-family: verdana;
  font-size: 75%;
}
p  {
  color: MediumSeaGreen;
  font-family: verdana;
  font-size: %;
}
h2 {
  color: Maroon;
  font-family: verdana;
  font-size: ;
}
ol{color: MediumSeaGreen;
  font-family: verdana;
  font-size: ;
}
    