h1 {
  color: maroon;
  font-family: verdana;
  font-size: 300%;
}
h5 {
  color: gray;
  font-family: verdana;
  font-size: 75%;
}
p  {
  color: MediumSeaGreen;
  font-family: verdana;
  font-size: %;
}
h2 {
  color: black;
  font-family: verdana;
  font-size: ;
}
